


div {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    margin-top:80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  span {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  button {
    background-color: #d9534f;
  }
  
  button:hover {
    background-color: #c9302c;
  }
 
  

