<!-- 


      <div style="background-image: url('https://img.freepik.com/free-photo/ingredients-cabbage-carrot-pie-cabbage-carrots-eggs-flour-milk-butter-spices-white-background_127032-2819.jpg'); background-size: cover; min-height: 100vh;">
        <div class="container" >
          <label for="recipeName">Recipe Name:</label>
          <input type="text" id="recipeName" [(ngModel)]="recipeName" /><br>
        
          <label for="ingredients">Ingredients:</label>
          <div *ngFor="let ingredient of ingredients; let i = index">
            <span>{{ ingredient }}</span>
            <button (click)="removeIngredient(i)">Remove</button>
          </div><br>
          <input type="text" id="currentIngredient" [(ngModel)]="currentIngredient" />
          <button (click)="addIngredient()">Add Ingredient</button><br>
        
          <label for="process">Process:</label>
          <textarea id="process" [(ngModel)]="process"></textarea><br>
          
          <label for="image">Upload Image:</label>
          <input type="file" id="image" (change)="imageUrl1($event)">
          <div *ngIf="imageUrl">
            <img [src]="imageUrl" alt="Recipe Image" style="max-width: 100px; max-height: 100px;">
          </div><br>
        
          <button (click)="saveRecipe()">Save Recipe</button>
        </div>
      </div>
       -->



       <div style="background-image: url('https://img.freepik.com/free-photo/ingredients-cabbage-carrot-pie-cabbage-carrots-eggs-flour-milk-butter-spices-white-background_127032-2819.jpg'); background-size: cover; min-height: 100vh;">
        <div class="container">
          <label for="recipeName">Recipe Name:</label>
          <input type="text" id="recipeName" [(ngModel)]="recipeName" /><br>
        
          <label for="ingredients">Ingredients:</label>
          <div *ngFor="let ingredient of ingredients; let i = index">
            <span>{{ ingredient }}</span>
            <button (click)="removeIngredient(i)">Remove</button>
          </div><br>
          <input type="text" id="currentIngredient" [(ngModel)]="currentIngredient" />
          <button (click)="addIngredient()">Add Ingredient</button><br>
        
          <label for="process">Process:</label>
          <textarea id="process" [(ngModel)]="process"></textarea><br>
          
          <label for="image">Upload Image:</label>
          <input type="file" id="image" (change)="imageUrl1($event)">
          <div *ngIf="imageUrl">
            <img [src]="imageUrl" alt="Recipe Image" style="max-width: 100px; max-height: 100px;">
          </div><br>
        
          <button (click)="saveRecipe()">Save Recipe</button>
        </div>
      </div>
      