<div style="background-image: url('https://img.freepik.com/free-photo/ingredients-cabbage-carrot-pie-cabbage-carrots-eggs-flour-milk-butter-spices-white-background_127032-2819.jpg'); background-size: cover; min-height: 100vh;">

    <div class="container mt-5">
      <h1 style="background-color: rgba(0, 0, 0, 0.5); color: white; padding: 20px; margin-bottom: 0; text-align: center; border-radius: 15px;">Recipe Items</h1>
      <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let card of cards">
          <div class="card">
            <img [src]="card.imageUrl" class="card-img-top" [alt]="card.title">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.description }}</p>
              <!-- <a routerLink='/chickencurry' class="btn btn-primary">View Recipe</a> -->
              <a [routerLink]="getRecipeLink(card.title)" class="btn btn-primary">View Recipe</a>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
