/* Container styling */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Row styling */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Column styling */
.col-md-3 {
  flex: 0 0 22%; /* Allows four cards per row with some margin */
  max-width: 22%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Card styling */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

/* Card image styling */
.card-img-top {
  width: 100%;
  height: 200px; /* Fixed height for uniformity */
  object-fit: cover;
}

/* Card body styling */
.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Card title styling */
.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Card text styling */
.card-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #555;
}

/* Button styling */
.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 767px) {
  .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  
  .card {
      margin-bottom: 20px;
  }
}
