<div style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-organic-vegetable-literary-hand-drawn-green-background-image_194827.jpg');background-size: cover; min-height: 100vh;">
  <head>
      <link rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
      crossorigin="anonymous">
    </head>
    <div class="container" align="center">
      
    <h1 align="center">Login Form</h1>
    
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
     
      <div style="width: 250px;">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" name="emailId"  #emailId="ngModel" ngModel required minlength="2" maxlength="40"/>
              <div *ngIf="emailId.errors?.['required'] && emailId.touched"   style="color:red;">Please Enter EmailId</div>
              <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"   style="color:red;">Please Enter atleast 2 Characters for EmailId</div>
          </div> <br/>
            
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="2" maxlength="20" />
              <div *ngIf="password.errors?.['required'] && password.touched" style="color:red;">Please Enter Password</div>
              <div *ngIf="password.errors?.['minlength'] && password.touched" style="color:red;">Please Enter atleast 2 Characters for Password</div>
          </div> <br/>
    
          <!-- <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input type="text" class="form-control" name="mobile" #mobile="ngModel" ngModel required
              pattern="^[6-9]\d{9}$|^(\d{10})$" />
              <div *ngIf="mobile.errors?.['required'] && mobile.touched" style="color:red;">Please Enter MobileNumber</div>
              <div *ngIf="(mobile.errors?.['pattern'] || mobile.errors?.['minlength=10']) && mobile.touched" style="color:red;">Please Enter a valid 10-digit Mobile Number starting with 6, 7, 8, or 9</div>
          </div> <br/> -->
    
        
         <form [formGroup]="aFormGroup"> <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          formControlName="recaptcha"></ngx-recaptcha2></form> 
    
      
             
          <!-- <button class="btn btn-primary" [disabled]="!loginForm.valid || !captchaResponse"> Login </button> -->

          <button class="btn btn-primary"> Login </button>
          
          New User? <a routerLink="//register" >SignUp</a>
          <a routerLink="//forgot-passwords"  style="padding-left: 50px"> ForgotPassword</a> <br/>
      </div>
    
    </form>
    
    
    </div> 
    
  </div>