<!-- 
    
<div style="background-image: url('https://www.shutterstock.com/image-photo/food-background-spices-herbs-utensil-260nw-2255294293.jpg'); background-size: cover; min-height: 100vh;">

<div  >

    
    <h1 align="center">User Registration</h1>

    <table align="center">
        <tr>
            <td> UserName </td>
            <td> <input type="text" name="userName" [(ngModel)]="user.userName" /> </td>
        </tr>
        <tr>
            <td> Gender </td>
            <td>
                <select name="salary" [(ngModel)]="user.gender">
                    <option value="" selected>Select Gender</option>
                    <option value="Male">   Male </option>
                    <option value="Female"> Female </option>
                    <option value="Others"> Others </option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Country </td>
            <td>
                <select name="country" [(ngModel)]="user.country">
                    <option value="" selected>Select Country</option>
                    <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                </select>
            </td>
        </tr>
        <tr>
            <td> MobileNumber </td>
            <td> <input type="text" name="mobileNum" [(ngModel)]="user.mobileNum" /> </td>
        </tr>
        <tr>
            <td> Email-Id </td>
            <td> <input type="text" name="emailId" [(ngModel)]="user.emailId" /> </td>
        </tr>
        <tr>
            <td> Password </td>
            <td> <input type="password" name="password" [(ngModel)]="user.password" /> </td>
        </tr>
    
        
     <tr>
        <td> Confirm Password </td>
        <td> <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" /> </td>
    </tr>
        <tr>
            <td></td>
            <td> <button (click)="submit()"> Register </button>
            
                Already User? <a routerLink="//login">SignIn</a>
            </td>
        </tr>
    </table> 
</div>

</div> -->





    
<div style="background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?cs=srgb&dl=pexels-ella-olsson-572949-1640773.jpg&fm=jpg'); background-size: cover; min-height: 100vh;">

  <div >
  
      <head>
          <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
          crossorigin="anonymous">
        </head>
        
        <div class="container" align="center">
          <h1 align="center" >User Registration</h1>
        
          <form #registrationForm="ngForm" (ngSubmit)="submit()" novalidate>
            <div style="width: 250px;">
              <!-- Username -->
              <div class="input-group">
                <span class="input-group-addon">Username</span>
                <input 
                  type="text" 
                  class="form-control" 
                  name="userName" 
                  [(ngModel)]="user.userName" 
                  #userName="ngModel" 
                  required 
                  minlength="2" 
                  maxlength="40" 
                />
              </div>
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
                <div *ngIf="userName.errors?.['required']">Username is required.</div>
                <div *ngIf="userName.errors?.['minlength']">Username must be at least 2 characters long.</div>
                <div *ngIf="userName.errors?.['maxlength']">Username cannot be more than 40 characters long.</div>
              </div>
              <br />
        
              <!-- Gender -->
              <div class="input-group">
                <span class="input-group-addon">Gender</span>
                <select 
                  class="form-control" 
                  name="gender" 
                  [(ngModel)]="user.gender" 
                  #gender="ngModel" 
                  required
                >
                  <option value="" disabled selected>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="text-danger">
                <div *ngIf="gender.errors?.['required']">Gender is required.</div>
              </div>
              <br />
        
              <!-- Country -->
              <div class="input-group">
                <span class="input-group-addon">Country</span>
                <select 
                  class="form-control" 
                  name="country" 
                  [(ngModel)]="user.country" 
                  #country="ngModel" 
                  required
                >
                  <option value="" disabled selected>Select Country</option>
                  <option *ngFor="let country of countries" [value]="country.cca3">{{country.name.common}}</option>
                </select>
              </div>
              <div *ngIf="country.invalid && (country.dirty || country.touched)" class="text-danger">
                <div *ngIf="country.errors?.['required']">Country is required.</div>
              </div>
              <br />
        
              <!-- Mobile Number -->
              <div class="input-group">
                <span class="input-group-addon">Mobile Number</span>
                <input 
                  type="text" 
                  class="form-control" 
                  id="mobileNum" 
                  name="mobileNum" 
                  [(ngModel)]="user.mobileNum" 
                  #mobileNum="ngModel" 
                  required 
                  minlength="10" 
                  maxlength="10" 
                  pattern="^[6-9]\d{9}$" 
                />
              </div>
              <div *ngIf="mobileNum.invalid && (mobileNum.dirty || mobileNum.touched)" class="text-danger">
                <div *ngIf="mobileNum.errors?.['required']">Mobile number is required.</div>
                <div *ngIf="mobileNum.errors?.['minlength']">Mobile number must be exactly 10 digits long.</div>
                <div *ngIf="mobileNum.errors?.['maxlength']">Mobile number must be exactly 10 digits long.</div>
                <div *ngIf="mobileNum.errors?.['pattern']">Mobile number must start with 6, 7, 8, or 9 and contain only digits.</div>
              </div>
              <br />
        
              <!-- Email -->
              <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input 
                  type="email" 
                  class="form-control" 
                  name="emailId" 
                  [(ngModel)]="user.emailId" 
                  #emailId="ngModel" 
                  required 
                />
              </div>
              <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="text-danger">
                <div *ngIf="emailId.errors?.['required']">Email is required.</div>
                <div *ngIf="emailId.errors?.['email']">Email must be a valid email address.</div>
              </div>
              <br />
        
              <!-- Password -->
              <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input 
                  type="password" 
                  class="form-control" 
                  name="password" 
                  [(ngModel)]="user.password" 
                  #password="ngModel" 
                  required 
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%?&])[A-Za-z\d$@$!%?&]{8,}$"           
                  maxlength="20" 
                />
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                <div *ngIf="password.errors?.['required']">Password is required.</div>
                <div *ngIf="password.errors?.['maxlength']">Password cannot be more than 20 characters long.</div>
                <div *ngIf="password.errors?.['pattern']">
                  Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character.
                </div>
              </div>
        
              <br />


              <div class="input-group">
                  <span class="input-group-addon">Confirm Password</span>
                  <input type="password" class="form-control"  name="confirmPassword" [(ngModel)]="confirmPassword" />
                </div>
           

                <br />

              <!-- Register Button -->
              <button class="btn btn-primary" [disabled]="!registrationForm.valid">Register</button>
              Already a user? <a routerLink="/login">SignIn</a>
            </div>
          </form>
        </div>
        
        
      
  </div>
  
  </div>
