.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color:lightgray;
    
    
    
  }
  
  h1, h4 {
    color: #01070e;
   
  }

  
  ul {
    font-family: Montserrat;
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    background-color: #a7cdf3;;
    border: 5px solid;
    border-radius: 10px;
  }